In [1]:
import pandas as pd

In [1]:
df = pd.read_csv("D:/cp2_dataset/2019-Oct.csv")

In [2]:
df

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
0,2019-10-01 00:00:00 UTC,view,44600062,2103807459595387724,NaN,shiseido,35.79,541312140,72d76fde-8bb3-4e00-8c23-a032dfed738c
1,2019-10-01 00:00:00 UTC,view,3900821,2053013552326770905,appliances.environment.water_heater,aqua,33.20,554748717,9333dfbd-b87a-4708-9857-6336556b0fcc
2,2019-10-01 00:00:01 UTC,view,17200506,2053013559792632471,furniture.living_room.sofa,NaN,543.10,519107250,566511c2-e2e3-422b-b695-cf8e6e792ca8
3,2019-10-01 00:00:01 UTC,view,1307067,2053013558920217191,computers.notebook,lenovo,251.74,550050854,7c90fc70-0e80-4590-96f3-13c02c18c713
4,2019-10-01 00:00:04 UTC,view,1004237,2053013555631882655,electronics.smartphone,apple,1081.98,535871217,c6bd7419-2748-4c56-95b4-8cec9ff8b80d
...,...,...,...,...,...,...,...,...,...
42448759,2019-10-31 23:59:58 UTC,view,2300275,2053013560530830019,electronics.camera.video,gopro,527.40,537931532,22c57267-da98-4f28-9a9c-18bb5b385193
42448760,2019-10-31 23:59:58 UTC,view,10800172,2053013554994348409,NaN,redmond,61.75,527322328,5054190a-46cb-4211-a8f1-16fc1a060ed8
42448761,2019-10-31 23:59:58 UTC,view,5701038,2053013553970938175,auto.accessories.player,kenwood,128.70,566280422,05b6c62b-992f-4e8e-91f7-961bcb4719cd
42448762,2019-10-31 23:59:59 UTC,view,21407424,2053013561579406073,electronics.clocks,tissot,689.85,513118352,4c14bf2a-2820-4504-929d-046356a5a204
42448763,2019-10-31 23:59:59 UTC,view,13300120,2053013557166998015,NaN,swisshome,155.73,525266378,6e57d2d7-6022-46e6-81d6-fa77f14cefd8

In [9]:
df["product_id"].nunique()

166794

In [5]:
df["product_id"].value_counts()

1004856     500354
1004767     438232
1005115     355786
1004833     237545
1004249     231070
             ...
12704418         1
9002880          1
11900275         1
50300306         1
19000980         1
Name: product_id, Length: 166794, dtype: int64

In [6]:
cond = (df["product_id"] == 1004856)
df[cond]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
79,2019-10-01 00:01:06 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,555447788,94c1a98c-41a3-401e-ad99-439beac4495c
91,2019-10-01 00:01:17 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,515757896,4938043e-e50f-44ad-944d-958d04df62d6
129,2019-10-01 00:01:46 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
142,2019-10-01 00:01:59 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,513457407,d6f9a1f2-f96f-4220-b393-ec697a3183c5
162,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
...,...,...,...,...,...,...,...,...,...
42447398,2019-10-31 23:49:12 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,514008422,9492815f-ad0c-4e5c-a59f-e7c14dbf495f
42447453,2019-10-31 23:49:35 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,538050614,733b1bee-1f17-44ba-a64f-282459c78f0e
42447457,2019-10-31 23:49:37 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,566265908,52c2c76c-b79e-4794-86ff-badc76d35f5a
42447633,2019-10-31 23:51:07 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,514008422,9492815f-ad0c-4e5c-a59f-e7c14dbf495f
42448234,2019-10-31 23:55:44 UTC,view,1004856,2053013555631882655,electronics.smartphone,samsung,128.42,519277091,62fadce6-aa4a-4dde-92fc-c04c22982df5

In [10]:
cond = (df["product_id"] == 1004767)
df[cond]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
49,2019-10-01 00:00:36 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,254.82,512558158,9a206ba2-37c7-4354-9d31-37ff3bb297ed
140,2019-10-01 00:01:54 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,254.82,551417808,3f2209fb-0fe6-4093-8486-51e52dbda8cf
145,2019-10-01 00:02:02 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,254.82,552783882,0ac92940-754e-4cee-baaf-e6a1701a7062
155,2019-10-01 00:02:10 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,254.82,513457407,d6f9a1f2-f96f-4220-b393-ec697a3183c5
163,2019-10-01 00:02:15 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,254.82,551417808,3f2209fb-0fe6-4093-8486-51e52dbda8cf
...,...,...,...,...,...,...,...,...,...
42448449,2019-10-31 23:57:35 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,242.63,552077780,8e9b35f4-6d0b-437d-8053-d1280ed71708
42448490,2019-10-31 23:57:54 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,242.63,556709195,803277ce-53e8-456a-aab9-092c862a1ee1
42448633,2019-10-31 23:59:03 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,242.63,512458378,7f344445-80ce-4b09-89b2-c6d701686a1b
42448690,2019-10-31 23:59:29 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,242.63,559343168,0b12f578-8cfd-4a84-a63f-6a2f0c3d421c
42448693,2019-10-31 23:59:29 UTC,view,1004767,2053013555631882655,electronics.smartphone,samsung,242.63,543653226,ab310b47-1eb2-45f8-8e5b-21ab2010925a

In [ ]:
1004856
1004767
1005115
1004833
1004249

In [11]:
cond = (df["product_id"] == 1005115)
df[cond]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
105,2019-10-01 00:01:30 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.57,514218020,d7c4761f-de75-454b-9164-177db5e53695
172,2019-10-01 00:02:20 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.57,514218020,d7c4761f-de75-454b-9164-177db5e53695
196,2019-10-01 00:02:41 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.57,514218020,d7c4761f-de75-454b-9164-177db5e53695
212,2019-10-01 00:02:55 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.57,516461845,545c5b25-a2db-4b48-84e4-7e44e7b0cf82
249,2019-10-01 00:03:33 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,975.57,514218020,d7c4761f-de75-454b-9164-177db5e53695
...,...,...,...,...,...,...,...,...,...
42447930,2019-10-31 23:53:43 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,949.47,518538389,ccb1aadc-9704-4f9b-8eb1-03150086a4da
42448067,2019-10-31 23:54:39 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,949.47,559837258,c4f06136-59da-4206-9121-d6db77b54abd
42448191,2019-10-31 23:55:27 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,949.47,523684525,447bd02e-1c38-47de-b5ad-8b69c8c99376
42448406,2019-10-31 23:57:17 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,949.47,544896141,3e9c858d-ece0-4c0e-8d2a-79e6ba5ed825
42448651,2019-10-31 23:59:13 UTC,view,1005115,2053013555631882655,electronics.smartphone,apple,949.47,532647354,d2d3d2c6-631d-489e-9fb5-06f340b85be0

In [12]:
cond = (df["product_id"] == 1004833)
df[cond]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
427,2019-10-01 00:06:52 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,174.76,518171610,fa74f434-2a06-4b17-be7a-72c796087716
481,2019-10-01 00:07:55 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,174.76,541414887,fcbaf678-f89e-4e2a-a5c4-b1c307640d31
620,2019-10-01 00:10:08 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,174.76,522453283,f78d37f0-90c9-4039-a5c5-5a04b54623d0
782,2019-10-01 00:12:41 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,174.76,552783882,0ac92940-754e-4cee-baaf-e6a1701a7062
1255,2019-10-01 02:17:13 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,174.76,554411453,2b32f994-0940-4965-b142-3254b04758d3
...,...,...,...,...,...,...,...,...,...
42444528,2019-10-31 23:24:30 UTC,purchase,1004833,2053013555631882655,electronics.smartphone,samsung,172.23,524942339,be736a1d-3abd-4cc1-9af2-fa55ecb207ff
42445087,2019-10-31 23:29:40 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,172.23,566277464,edefb12d-1db4-44e9-b900-751d8c67a82b
42445236,2019-10-31 23:30:49 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,172.23,566277789,81243681-9cd5-4d3a-866d-fd16aed4d145
42445283,2019-10-31 23:31:17 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,172.23,566277789,81243681-9cd5-4d3a-866d-fd16aed4d145
42448354,2019-10-31 23:56:47 UTC,view,1004833,2053013555631882655,electronics.smartphone,samsung,172.23,519277091,62fadce6-aa4a-4dde-92fc-c04c22982df5

In [13]:
cond = (df["product_id"] == 1004249)
df[cond]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
146,2019-10-01 00:02:02 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,739.81,512539408,3e686589-9b0c-4db0-9b75-3f2738583e75
984,2019-10-01 00:16:52 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,739.81,546343539,98895b1d-2e3e-49d4-8b3b-f5008bf55dfe
1490,2019-10-01 02:18:55 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,739.81,512754114,ad8563a7-2943-4817-afa4-cc566b5263b4
1522,2019-10-01 02:19:01 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,739.81,555462030,8511fa89-eada-4e77-b77c-9f13d4fd6868
1678,2019-10-01 02:19:42 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,739.81,553985695,88251aa8-2167-4129-90bb-05cde4443605
...,...,...,...,...,...,...,...,...,...
42447132,2019-10-31 23:46:45 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,722.40,541335564,a75db866-5c1c-4079-8bc3-23c78322c9ab
42447308,2019-10-31 23:48:23 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,722.40,514171705,168955ad-db0f-4f0f-b71b-5dd8cfc9e113
42447363,2019-10-31 23:48:51 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,722.40,518538389,ccb1aadc-9704-4f9b-8eb1-03150086a4da
42447366,2019-10-31 23:48:53 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,722.40,514171705,168955ad-db0f-4f0f-b71b-5dd8cfc9e113
42447474,2019-10-31 23:49:46 UTC,view,1004249,2053013555631882655,electronics.smartphone,apple,722.40,522256017,b290b95a-3ff7-4858-88e8-7168f7d012ef

In [16]:
df["user_id"].value_counts()

512475445    7436
512365995    4013
526731152    2912
512505687    2894
513021392    2862
             ...
556920045       1
521755468       1
515083572       1
549391147       1
544578298       1
Name: user_id, Length: 3022290, dtype: int64

In [27]:
user_cond = (df["user_id"] == 512475445)
df[user_cond]["user_session"].value_counts()[:10]

8b8425bf-3d8e-4f93-896b-4f13728bac4c    3
973ec7be-cf51-4f17-ac06-7e120722cc8b    3
0173194a-a128-469e-b7f7-418de22cd456    3
70045bbd-f6b1-4db8-88b6-d4f4f78c0946    3
805bf74b-c96b-479e-aa66-c14c9cb89f21    2
316d8ccf-0721-4c90-9e1d-2bfad0f83aee    2
c50d39fb-4229-4487-8db4-2554ca555950    2
b5876d3c-eb3a-4738-a965-4c8590532504    2
15518e61-ba1b-4baa-9c23-a8018addf5d1    2
4f55181f-8334-4d64-a187-1ad5237afad7    2
Name: user_session, dtype: int64

In [28]:
sess_cond = (df["user_id"] == 512475445) & (df["user_session"] == "4f55181f-8334-4d64-a187-1ad5237afad7")
df[sess_cond]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
40676002,2019-10-30 13:30:57 UTC,view,4700557,2053013560899928785,auto.accessories.videoregister,sho-me,139.15,512475445,4f55181f-8334-4d64-a187-1ad5237afad7
40676087,2019-10-30 13:31:02 UTC,view,4700557,2053013560899928785,auto.accessories.videoregister,sho-me,139.15,512475445,4f55181f-8334-4d64-a187-1ad5237afad7

In [30]:
df["event_type"].value_counts()

view        40779399
cart          926516
purchase      742849
Name: event_type, dtype: int64

In [31]:
df[df["event_type"] == "purchase"]

,event_time,event_type,product_id,category_id,category_code,brand,price,user_id,user_session
162,2019-10-01 00:02:14 UTC,purchase,1004856,2053013555631882655,electronics.smartphone,samsung,130.76,543272936,8187d148-3c41-46d4-b0c0-9c08cd9dc564
308,2019-10-01 00:04:37 UTC,purchase,1002532,2053013555631882655,electronics.smartphone,apple,642.69,551377651,3c80f0d6-e9ec-4181-8c5c-837a30be2d68
379,2019-10-01 00:06:02 UTC,purchase,5100816,2053013553375346967,NaN,xiaomi,29.51,514591159,0e5dfc4b-2a55-43e6-8c05-97e1f07fbb56
442,2019-10-01 00:07:07 UTC,purchase,13800054,2053013557418656265,furniture.bathroom.toilet,santeri,54.42,555332717,1dea3ee2-2ded-42e8-8e7a-4e2ad6ae942f
574,2019-10-01 00:09:26 UTC,purchase,4804055,2053013554658804075,electronics.audio.headphone,apple,189.91,524601178,2af9b570-0942-4dcd-8f25-4d84fba82553
...,...,...,...,...,...,...,...,...,...
42448148,2019-10-31 23:55:13 UTC,purchase,26402784,2053013563651392361,NaN,NaN,102.45,516604399,a98bd433-57ac-42d0-ba81-e18b135a7a16
42448173,2019-10-31 23:55:21 UTC,purchase,47500017,2110937143172923797,construction.tools.light,puckator,20.59,514622109,5724116e-365b-4ac1-9d03-b8d66e1ccc7c
42448271,2019-10-31 23:56:03 UTC,purchase,1003306,2053013555631882655,electronics.smartphone,apple,577.89,512717356,f35ac37c-9573-4e30-b3d9-c09bb0b95a2b
42448362,2019-10-31 23:56:53 UTC,purchase,1004240,2053013555631882655,electronics.smartphone,apple,1054.60,533892594,3a5a3b01-2ab1-4a1d-a202-30d336e0057b
42448657,2019-10-31 23:59:16 UTC,purchase,4804056,2053013554658804075,electronics.audio.headphone,apple,160.57,544501248,e330d051-37ad-4dc3-b1ee-ff16a28b7998